{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <hr>
    <h3 class="p2 text-center fs-1"><span class="text-info">WEL</span>CO<span class="text-info">ME</span> TO <span
            class="text-info">G</span>A<span class="text-info">LL</span>ER<span class="text-info">Y</span>
    </h3>
    <hr>
    {% for image in images%}
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <a href="/image/{{image.id}}"><img src="{{image.image.url}}" class="card-img-top" alt="..."></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% empty %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">There are no posts at the moment</h1>
        </div>
    </div>

    {% endfor %}
</div>
</div>
{% endblock %}