{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <hr>
    <h3 class="p2 text-center fs-1"><span class="text-info">WEL</span>CO<span class="text-info">ME</span> TO <span
            class="text-info">G</span>A<span class="text-info">LL</span>ER<span class="text-info">Y</span>
    </h3>
    <hr>


    <div class="col-md-12">
        <div class="card-group">
            {%for image in images%}
            <div class="card"
                 style="min-width: 15rem; max-width:20rem ;margin-top: 30px; margin-bottom: 30px; margin-right: 3rem; border:1px solid lightgrey">
                <a href="/image/{{image.id}}"><img src="{{ image.image.url }}" style="height: 14rem;" class="card-img-top" alt="Image"></a>
            </div>

            {% endfor %}
        </div>
    </div>
    {% endblock %}
</div>