{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    {% for image in images%}
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
        <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img src="{{image.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{image.image_name}}</h5>
                    <p class="text-muted">Posted {{image.posted_at}}</p>
                </div>
            </div>
            <a href="#" class="btn btn-primary mt-3">View Details</a>
        </div>
    </div>
        </div>
    </div>

    {% empty %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">There are no posts at the moment</h1>
        </div>
    </div>

    {% endfor %}
</div>
</div>
{% endblock %}